<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="ISO-8859-1">
		<title>Employee Directory</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous">
	
	</head>
	<body>
		<div class="container">
		
			<h3>Employee Directory</h3>
			<hr>
			<div>
				User: <span sec:authentication="name"></span>
				<br>
				Role(s): <span sec:authentication="principal.authorities"></span>
				<br><br>
			</div>
			
			<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
					<!-- Add a button -->
					<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Employee</a>
			</div>
			
			<form th:action="@{/employees/search}" class="form-inline">				
				<input class="form-control mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />
				<button class="btn btn-success mb-3" type="submit">Search</button>
		    </form>
		    
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
							<th>Action</th>
						</div>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee : ${employees}">
						<td th:text="${employee.firstName}" />
						<td th:text="${employee.lastName}" />
						<td th:text="${employee.email}" />
						<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
							<td>
								<span sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
									<!-- Add update button/link -->
									<a th:href="@{'/employees/showFormForUpdate/' + ${employee.id}}"
										class="btn btn-info btn-sm">Update</a>
								</span>
								
								<span sec:authorize="hasRole('ROLE_ADMIN')">
									<!-- Add update button/link -->
									<a th:href="@{/employees/delete(employeeId=${employee.id})}"
										class="btn btn-danger btn-sm"
										onclick="if(!(confirm('Are you sure yo want to delete this employee?'))) return false">Delete</a>
								</span>
							</td>
						</div>
					</tr>
				</tbody>
			</table>
			
			<!-- Add a logout button -->
			<form action="#" th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
			</form>
			
		</div>
	</body>
</html>